:root {
    --border-thickness: 50px;
    --div-color: white;
    --border-color: white;
    --site-bg-color: white;
}

#siteGrid {
    z-index: 15;
    position: relative;
    top: 10%;
    padding: 40px;
}

ul {
    padding-left: 10px;
    list-style: none;
}

.textLink {
    cursor: pointer;
    margin-bottom: 12px;
    display: inline-block;
}

.textLink:hover {
    background-color: rgb(240, 240, 240);   
}

#textArea {
    top: var(--border-thickness);
    left: 30%;
    height: 80%;
    width: 50%;
    padding: 30px;
    position: absolute;
    z-index: 20;
    overflow: auto;
}

#textArea div {
    line-height: 150%;
}
