
:root {
    --text-color: rgb(210, 210, 210);
}

body {
    background-color: black;
    overflow: auto;
}

#textArea {
    /* background-color: black; */
    opacity: 0.8;
    color: var(--text-color);
    width: 50%;
    /* height: 85vh; */
    height: 87%;
    position: fixed;
    right: 0px;
    z-index: -20;
    overflow: auto;
}

#pictureOfMe {
    width: 20%;
    position: fixed;
    right: 10px;
    z-index: -50;
    border-radius: 1000px;
    border-color: grey;
    border-style: solid;
}

#bottomTextArea, #verticalLine {
    /* background-color: blue; */
    /* opacity: 0.5;*/
    height: 40vh;
    width : 47vw;
    position: fixed;
    /*bottom: 15px;*/
    bottom: -50px;
    z-index: -19;
    color: var(--text-color);
    padding-left: -100px;
}

#verticalLine {
    height: 110vh;
    border-left: solid thick rgb(0,0,100);    
}


ul {
    padding-left: 10px;
    list-style: none;
}

.textLink {
    cursor: pointer;
}

h1 {
    text-align: left;
    margin-left: 17px;
}

/* planet related css below */

.centered {
  position: absolute;
  top: 10%;
  left: 20%;
}

/* the planetOrbital position settings are for when the planet is stationary (instead of rotating around the sun) */
#planetOrbital {
    transform:scale(0.5); 
    position: relative; 
    top: -100px; 
    left: 300px;
}

#planet {
    height: 200px;
    z-index: 5;
}

#sun {
    height: 300px;
    position: relative;
    top: 60px;
}

.rotatingLinks {
    height: 100px;
}

.rotatingLinks, #planet {
    position: absolute;
}

#bluePlanet, #otherPlanet {
    height: 100px;
    position: absolute;
}
